@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&family=Nunito:wght@400;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Nunito', sans-serif;
  --font-romantic: 'Fredoka', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #fca5a5;
  color: #b91c1c;
}
